select {
  appearance: none;
  outline: none;
  box-shadow: none;
  border: none;
  color: #d88771;
  width: 10rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: .5rem;
}
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
.select::after {
  content: "\25BC";
  position: absolute;
  background: $secondary;
  top: 0rem;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  border-top-right-radius: .5rem;
}
.select:hover::after {
  background: white;
  color: yellow;
}
