.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;

  .todo-list {
    min-width: 30%;
    list-style: none;
  }
  .todo-item {
    padding: 0rem 0.5rem;
  }

  .todo {
    margin: 0.5rem;
    background: white;
    color: rgb(0, 0, 0);
    font-size: $font-size;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
  }

  .todo li {
    flex: 1;
  }
}

.trash-btn,
.complete-btn {
  background: crimson;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 2rem;
  
}

.complete-btn {
  background: $secondary;
  
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5rem;
}
.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}
